.header {
  background-image: url("../../images/pattern.png");
    height: 500px;
    width: 100%;
    margin-top: 0;
    
  }
  
  .header h1 {
    margin: 0;   
    padding-top: 200px;
    text-align: center;
    color: white;
    font-size: 70px;
  }
  .header h2 {
    text-align: center;
    font-size: 40px;
    
}
