/*.navbar li {
  display: inline-block;
  text-align: center;
  position: fixed;
}*/

/*.itemLeft {
}
.itemCenter {
	width: 70%;
}
.itemRight {
  width: 15%;
}*/

/*.navbar {
  background: #490549;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}
li {
  color: white;
  padding: 15px 0;
}
body {
  font-size: 24px;
}*/





ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(58, 2, 212);
    position: fixed;
    top: 0;
    width: 100%;
}


li {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

/*li :hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}
*/
body {
  color: #ffffff;
  font-size: 40px;
 
}

.itemLeft {
margin-left: 450px;
}


.itemRight {
padding-left: 40px;
}
  