


li {
  color: white;
  padding: 15px 0;
}
body {
  font-size: 24px;
}


ul {
  padding-top: 10px;
  scroll-padding-bottom: 10px;

  margin: 0;
  
  overflow: hidden;
  background-color: rgb(58, 2, 212);
  position: fixed;
  top: 0;
  width: 100%;
}


li {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}

/*li :hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}
*/
body {
color: #ffffff;
font-size: 30px;

}

.itemLeft {
margin-left: 50px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 600;
}


.itemRight1 {
padding-left: 130px;

}
.itemRight2 {
  padding-left: 20px;
  
  }

.itemCenter {
	padding-left: 140px;
}